.Layout {
  display: flex;
  flex-direction: row;
  width: 100vw; 
  height: 100vh;

  &__Sidebar{  
    height: 100%; // kol kas viskas scalable, reiks gal veliau pridet kokiu min-width max-height ar pns 
    width: 20%;    
    //border: 1px solid aqua; 
    background-color: rgb(0, 255, 255); 
  }

  &__Content {    
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__Header{  
    height: 15%;   
    //border: 1px solid red; 
    background-color: red; 
  }

  &__Middle{  
    height: 85%;  
    // border: 1px solid magenta; 
    background-color: magenta; 
  }
}

