.HeaderContent {
    margin-left: 10px;
    height: 120px; 
    border-bottom: 2px solid black;
}

.SearchBar {
    margin-top: 20px;
    width: 70%;
}

.HeaderButtons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    //flex-direction: column;
}

#HeaderButton {
    display: "flex";
    padding: 5px;
    margin: 5px;
}

.FolderName {
    margin: 0px;
}

#ToolbarAdjustment {
    margin-top: 15px;
    min-height: 50px;
    padding: 0px 16px 0px 0px;
}
